<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx_hospital.mapper.HisOrderMapper" >
    <!-- List<HisOrder> getNoPaymentOrderBypatientId(Integer patientId); -->
    <select id="getNoPaymentOrderBypatientId" resultType="com.wx_hospital.pojo.HisOrder">
        select * from his_order WHERE order_placer = #{patientId} AND status = 0 AND order_name = "就诊卡充值"
    </select>
</mapper>