<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx_hospital.mapper.SecConsultationMapper" >
    <!-- List<SecConsultationVoio> getOnlineconsultationIsNotPaid(Integer patientId); -->
    <select id="getOnlineconsultationIsNotPaid" resultType="com.wx_hospital.pojo.SecConsultationVoio">
        select sc.id,ho.id as orderId,ho.order_name,ho.order_num,ho.pay_money,ho.status,sc.question_title
            from sec_consultation sc left JOIN his_order ho on sc.order_id = ho.id
            where sc.patient_id = #{patientId}
    </select>
</mapper>