<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx_hospital.mapper.SecDoctorMapper" >

    <!--List<SecDoctor> findDoctor(String deptId);-->
    <select id="findDoctor" resultType="com.buba.hospital.Bean.SecDoctor">
       select * from sec_doctor sd,sec_rank_dic srd,sec_doctor_multipoint sdm,sec_first_department sfd where
sd.rank=srd.rank_code and sd.id=sdm.doctor_id  and sfd.id=sdm.department_id and sfd.id=#{deptId}
    </select>
    <!--SecDoctor huoquaddress(String id);-->
    <select id="huoquaddress" resultType="com.buba.hospital.Bean.SecDoctor">
        select * from sec_doctor sd where sd.id=#{id}
    </select>
    <!--SecDoctorAppointmenttime huoquappointment(String appointmenttime);-->
    <select id="huoquappointment" resultType="com.buba.hospital.Bean.SecDoctorAppointmenttime">
        SELECT * from sec_doctor_appointmenttime where appointment_time=#{appointmenttime}
    </select>

    <!-- List<SecDoctorAppointmenttime> huoqutime(Integer id);-->
    <select id="huoqutime" resultType="com.buba.hospital.Bean.SecDoctorAppointmenttime">
        select * from sec_doctor_appointmenttime where doctor_id=#{id}
    </select>

    <!--List<SecDoctor> huoquadministrative(String deptname);-->
    <select id="huoquadministrative" resultType="com.buba.hospital.Bean.SecDoctor">
        select * from sec_doctor sd,sec_rank_dic srd,sec_doctor_multipoint sdm,sec_first_department sfd where
sd.rank=srd.rank_code and sd.id=sdm.doctor_id  and sfd.id=sdm.department_id and sfd.department_name=#{deptname}
    </select>

    <!--List<SecDoctorAppointmenttimeTimeframe> huoquappointmenttime();-->
    <select id="huoquappointmenttime" resultType="com.buba.hospital.Bean.SecDoctorAppointmenttimeTimeframe">
        select * from sec_doctor_appointmenttime_timeframe where appointmenttime_id=#{id}
    </select>

    <!--String sum1(Integer id);-->
    <select id="sum1" resultType="Integer">
        SELECT sum(timeframe_peoplenum) from sec_doctor_appointmenttime_timeframe where appointmenttime_id=#{id}
    </select>

    <!--String sum1(Integer id);-->
    <select id="sum2" resultType="Integer">
        SELECT sum(timeframe_peoplenum1) from sec_doctor_appointmenttime_timeframe where appointmenttime_id=#{id}
    </select>

</mapper>