<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.SecDoctorMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.SecDoctor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="disabled" property="disabled" jdbcType="BIT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="assistant" property="assistant" jdbcType="BIT" />
    <result column="display" property="display" jdbcType="BIT" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="visitplaces" property="visitplaces" jdbcType="VARCHAR" />
    <result column="visitaddress" property="visitaddress" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="adeptat" property="adeptat" jdbcType="VARCHAR" />
    <result column="onlineconsultant" property="onlineconsultant" jdbcType="BIT" />
    <result column="IsPremium" property="ispremium" jdbcType="BIT" />
    <result column="price" property="price" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, status, disabled, createtime, name, assistant, display, tel, rank, visitplaces, 
    visitaddress, introduce, adeptat, onlineconsultant, IsPremium, price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.pojo.SecDoctorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sec_doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sec_doctor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sec_doctor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.pojo.SecDoctorExample" >
    delete from sec_doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.SecDoctor" >
    insert into sec_doctor (id, status, disabled, 
      createtime, name, assistant, 
      display, tel, rank, visitplaces, 
      visitaddress, introduce, adeptat, 
      onlineconsultant, IsPremium, price
      )
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{disabled,jdbcType=BIT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, #{assistant,jdbcType=BIT}, 
      #{display,jdbcType=BIT}, #{tel,jdbcType=VARCHAR}, #{rank,jdbcType=INTEGER}, #{visitplaces,jdbcType=VARCHAR}, 
      #{visitaddress,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{adeptat,jdbcType=VARCHAR}, 
      #{onlineconsultant,jdbcType=BIT}, #{ispremium,jdbcType=BIT}, #{price,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.SecDoctor" >
    insert into sec_doctor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="assistant != null" >
        assistant,
      </if>
      <if test="display != null" >
        display,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="visitplaces != null" >
        visitplaces,
      </if>
      <if test="visitaddress != null" >
        visitaddress,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="adeptat != null" >
        adeptat,
      </if>
      <if test="onlineconsultant != null" >
        onlineconsultant,
      </if>
      <if test="ispremium != null" >
        IsPremium,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="assistant != null" >
        #{assistant,jdbcType=BIT},
      </if>
      <if test="display != null" >
        #{display,jdbcType=BIT},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="visitplaces != null" >
        #{visitplaces,jdbcType=VARCHAR},
      </if>
      <if test="visitaddress != null" >
        #{visitaddress,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="adeptat != null" >
        #{adeptat,jdbcType=VARCHAR},
      </if>
      <if test="onlineconsultant != null" >
        #{onlineconsultant,jdbcType=BIT},
      </if>
      <if test="ispremium != null" >
        #{ispremium,jdbcType=BIT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.pojo.SecDoctorExample" resultType="java.lang.Integer" >
    select count(*) from sec_doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sec_doctor
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.disabled != null" >
        disabled = #{record.disabled,jdbcType=BIT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.assistant != null" >
        assistant = #{record.assistant,jdbcType=BIT},
      </if>
      <if test="record.display != null" >
        display = #{record.display,jdbcType=BIT},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.rank != null" >
        rank = #{record.rank,jdbcType=INTEGER},
      </if>
      <if test="record.visitplaces != null" >
        visitplaces = #{record.visitplaces,jdbcType=VARCHAR},
      </if>
      <if test="record.visitaddress != null" >
        visitaddress = #{record.visitaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.introduce != null" >
        introduce = #{record.introduce,jdbcType=VARCHAR},
      </if>
      <if test="record.adeptat != null" >
        adeptat = #{record.adeptat,jdbcType=VARCHAR},
      </if>
      <if test="record.onlineconsultant != null" >
        onlineconsultant = #{record.onlineconsultant,jdbcType=BIT},
      </if>
      <if test="record.ispremium != null" >
        IsPremium = #{record.ispremium,jdbcType=BIT},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sec_doctor
    set id = #{record.id,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      disabled = #{record.disabled,jdbcType=BIT},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      name = #{record.name,jdbcType=VARCHAR},
      assistant = #{record.assistant,jdbcType=BIT},
      display = #{record.display,jdbcType=BIT},
      tel = #{record.tel,jdbcType=VARCHAR},
      rank = #{record.rank,jdbcType=INTEGER},
      visitplaces = #{record.visitplaces,jdbcType=VARCHAR},
      visitaddress = #{record.visitaddress,jdbcType=VARCHAR},
      introduce = #{record.introduce,jdbcType=VARCHAR},
      adeptat = #{record.adeptat,jdbcType=VARCHAR},
      onlineconsultant = #{record.onlineconsultant,jdbcType=BIT},
      IsPremium = #{record.ispremium,jdbcType=BIT},
      price = #{record.price,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.SecDoctor" >
    update sec_doctor
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="assistant != null" >
        assistant = #{assistant,jdbcType=BIT},
      </if>
      <if test="display != null" >
        display = #{display,jdbcType=BIT},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="visitplaces != null" >
        visitplaces = #{visitplaces,jdbcType=VARCHAR},
      </if>
      <if test="visitaddress != null" >
        visitaddress = #{visitaddress,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="adeptat != null" >
        adeptat = #{adeptat,jdbcType=VARCHAR},
      </if>
      <if test="onlineconsultant != null" >
        onlineconsultant = #{onlineconsultant,jdbcType=BIT},
      </if>
      <if test="ispremium != null" >
        IsPremium = #{ispremium,jdbcType=BIT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.SecDoctor" >
    update sec_doctor
    set status = #{status,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=BIT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      assistant = #{assistant,jdbcType=BIT},
      display = #{display,jdbcType=BIT},
      tel = #{tel,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=INTEGER},
      visitplaces = #{visitplaces,jdbcType=VARCHAR},
      visitaddress = #{visitaddress,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      adeptat = #{adeptat,jdbcType=VARCHAR},
      onlineconsultant = #{onlineconsultant,jdbcType=BIT},
      IsPremium = #{ispremium,jdbcType=BIT},
      price = #{price,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>