<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx_hospital.mapper.SecHospitalArticleMapper" >
    <select id="SelectNews" resultType="com.wx_hospital.pojo.SecHospitalArticle">
        SELECT
         *
        FROM
         sec_hospital_article
        WHERE
         article_type=2
    </select>
</mapper>