<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx_hospital.mapper.SecHospitalMapper" >

    <!--  List<SecHospital> SelectHos(@Param("hospitalId") String hospitalId); -->
    <select id="SelectHos" resultType="com.wx_hospital.pojo.SecHospital">
        SELECT
            *
        FROM
            sec_hospital
        where
            id=#{hospitalId};
    </select>
    <select id="SelectPic" resultType="com.wx_hospital.pojo.SecPic">
        SELECT
            *
        FROM
            sec_pic
        WHERE
            obj_id=1 AND obj_type='hospital' AND type='focus'
        ORDER BY id DESC LIMIT 3
    </select>





<!--@Param("doctor") SecDoctor doctor, @Param("userid") int userid,@Param("phone") String phone,@Param("biaoti") String biaoti, @Param("text") String text,@Param("fix") String fix,@Param("paymentStatus") int paymentStatus,@Param("orderId") int orderIdd,@Param("state") int state,@Param("hospitalId")int hospitalId,@Param("patientId")int patientId,@Param("doctorId")int  doctorId-->

    <!--//
  boolean addSecConsultation(@Param("doctor") Doctor doctor, @Param("userid") int userid,@Param("phone") String phone,@Param("biaoti") String biaoti, @Param("text") String text,@Param("fix") String fix@Param("paymentStatus") int paymentStatus,@Param("orderId") int orderId);-->
    <insert id="addSecConsultation"  useGeneratedKeys="true" keyProperty="doctor.id" >
     insert into sec_consultation (id, status, disabled,
      createtime, order_id, patient_id,
      question_title, sex, Illness_description,
      payment_status, doctor_id, response_id,
      response, response_time,hospital_id)
    values (null, 0, 0,
      now(), #{orderId}, ,#{patientId},
      #{biaoti}, #{fix}, #{text},
      #{paymentStatus}, #{docotrId}, null,
      null,null,#{hospitalId})
  </insert>
    <!--//添加订单表boolean addSecPicBySecConsultation(SecPic pic);
    boolean addHisOrder(@Param("hisOrder") HisOrder hisOrder);-->
    <insert id="addHisOrder" parameterType="com.wx_hospital.pojo.HisOrder" useGeneratedKeys="true" keyProperty="hisOrder.id">
    insert into his_order (id, disabled, createtime,
      order_name, order_num, order_placer,
      status, pay_start_time, refund_start_time,
      pay_money, pay_way)
    values (null, #{hisOrder.disabled,jdbcType=BIT}, now(),
      #{hisOrder.orderName,jdbcType=VARCHAR}, #{hisOrder.orderNum,jdbcType=VARCHAR}, #{hisOrder.orderPlacer,jdbcType=INTEGER},
      #{hisOrder.status,jdbcType=VARCHAR}, #{hisOrder.payStartTime,jdbcType=TIMESTAMP}, #{hisOrder.refundStartTime,jdbcType=TIMESTAMP},
      #{hisOrder.payMoney,jdbcType=DOUBLE}, #{hisOrder.payWay,jdbcType=VARCHAR})
  </insert>
    <!-- //添加图片
     boolean addSecPicBySecConsultation(@Param("pic") SecPic pic);-->
    <insert id="addSecPicBySecConsultation" parameterType="com.wx_hospital.pojo.SecPic">
    insert into sec_pic (id, status, disabled,
      createtime, type, obj_id,
      obj_type, pic_name, pic_size,
      pic_path, pic_info, sequence
      )
    values (null, #{pic.status,jdbcType=VARCHAR}, #{pic.disabled,jdbcType=BIT},
      now(), #{pic.type,jdbcType=VARCHAR}, #{pic.objId,jdbcType=INTEGER},
      #{pic.objType,jdbcType=VARCHAR}, #{pic.picName,jdbcType=VARCHAR}, #{pic.picSize,jdbcType=VARCHAR},
      #{pic.picPath,jdbcType=VARCHAR}, #{pic.picInfo,jdbcType=VARCHAR}, #{pic.sequence,jdbcType=INTEGER}
      )
  </insert>
    <!-- boolean updateConsultationState(int id);-->
    <update id="updateConsultationState">
          UPDATE sec_consultation SET sec_consultation.payment_status=0
          WHERE sec_consultation.id=#{id}
    </update>


</mapper>