<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx_hospital.mapper.SecPatientMapper" >

    <!-- List<SecPatient> selectpatient(Integer id);查询当前用户就诊人-->
    <select id="selectpatient" resultType="com.wx_hospital.pojo.SecPatient">
        select * from sec_patient where user_id=#{id}
    </select>

    <!-- int UpdateMoren(@Param("patientid") Integer patientid,@Param("userId")  Integer userId);-->
    <update id="UpdateMoren">
      UPDATE sec_patient
              SET is_default = CASE id
                                 when #{patientid} then 0
                                 else 1
                                 END
                WHERE user_id = #{userId}
    </update>

    <!--SecPatient selectHuixiapatient(Integer id); 回显就诊人，有默认回显（就诊信息）-->
    <select id="selectHuixiapatient" resultType="com.wx_hospital.pojo.SecPatient">
     select *  from sec_patient where id=#{id}
    </select>

    <!-- SecPatient getDefaultPatient(Integer userId); -->
    <select id="getDefaultPatient" resultType="com.wx_hospital.pojo.SecPatient">
       select *  from sec_patient where user_id=#{id} AND is_default = 0
    </select>


    <!--SecPatient SelectCardNumber(String patientId);查询就诊卡-->
    <select id="SelectCardNumber" resultType="com.wx_hospital.pojo.SecPatient">
     select patient_medicalCardNumber patientMedicalCardNumber from sec_patient where id=#{patientId}
    </select>


    <!-- int addPatient(@Param("secPatient")SecPatient secPatient); -->
    <insert id="addPatient" parameterType="com.wx_hospital.pojo.SecPatient">
        insert into sec_patient (createtime, user_id, patient_name, patient_tel, patient_idCard, patient_medicalCardNumber,
        patient_healthCareCardNumber, patient_area, patient_address, is_default)
        values (now(),#{secPatient.userId},#{secPatient.patientName},#{secPatient.patientTel},#{secPatient.patientIdcard},#{secPatient.patientMedicalcardnumber},
        #{secPatient.patientHealthcarecardnumber},#{secPatient.patientArea},#{secPatient.patientAddress},#{secPatient.isDefault})
    </insert>

    <!-- int updatePatient(@Param("secPatient")SecPatient secPatient); -->
    <update id="updatePatient" parameterType="com.wx_hospital.pojo.SecPatient">
        update sec_patient set
        patient_name = #{secPatient.patientName},
        patient_tel = #{secPatient.patientTel},
        patient_idCard = #{secPatient.patientIdcard},
        patient_medicalCardNumber = #{secPatient.patientMedicalcardnumber},
        patient_healthCareCardNumber = #{secPatient.patientHealthcarecardnumber},
        patient_area = #{secPatient.patientArea},
        patient_address = #{secPatient.patientAddress}
        where id = #{secPatient.id}
    </update>


    <!-- int deletePatient(Integer patientid); -->
    <update id="deletePatient">
        update sec_patient set disabled = 1 where id = #{patientid}
    </update>
    <!-- int UpdataMedical(@Param("medicalCardBalance")SecPatient medicalCardBalance);-->
    <update id="UpdataMedical" parameterType="com.wx_hospital.pojo.SecPatient">
        UPDATE sec_patient SET  medicalCard_balance=medicalCard_balance+#{price} WHERE id=#{id}
    </update>

</mapper>